.content{
    text-align: justify;
    padding-top: 80px;
}
.text{
    margin: auto;
    padding-left:25px;
    padding-right:25px;
    width: 90%;
}
.form{
    margin: auto;
    width: 90%;
}
h1{
    text-align: center;
}
footer{
    text-align: center;
    margin-top: 5%;
}