.content{
    text-align: justify;
    padding-top: 80px;
}
.text{
    padding-left:25px;
    padding-right:25px;
}
.form{
    margin: auto;
    width: 70%;
}
h1{
    text-align: center;
}
h2{
    padding-left: 25px;
}
footer{
    text-align: center;
    margin-top: 5%;
}